@layer base {
  @font-face {
    font-family: Halvar;
    src:
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Lt.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Lt.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Halvar;
    src:
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Rg.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Rg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Halvar;
    src:
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Md.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Md.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Halvar;
    src:
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Bd.woff2") format("woff2"),
      url("https://cdn.jsdelivr.net/npm/@47nordmedia/k2-systems-ui-library@latest/dist/assets/font/HalvarMittel-Bd.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply text-5xl xl:text-8xl 2xl:text-10xl font-halvar font-bold;
  }

  h2 {
    @apply text-3xl xl:text-7xl 2xl:text-9xl font-halvar font-bold;
  }

  h3 {
    @apply text-xl xl:text-4xl 2xl:text-6xl font-halvar font-medium;
  }

  h4 {
    @apply text-md xl:text-xl 2xl:text-3xl font-halvar font-medium;
  }

  h5 {
    @apply text-sm lg:text-base font-halvar font-medium;
  }

  h6 {
    @apply text-xs font-halvar font-medium;
  }

  p,
  a,
  li,
  label,
  button {
    @apply text-sm xl:text-base font-halvar font-normal;
  }

  button,
  a {
    @apply text-sm xl:text-base leading-[1.5rem] text-black;
  }

  label {
    @apply text-base tracking-normal;
  }
}
